<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .footer {
            left: 0;
            bottom: 0;
            top: 10em;
            width: 100%;
            background-color: #FF0018;
            color: #DFDFDE;
            text-align: center;
            height: 70px;
        }
    </style>
</head>

<body>
    <tr>
        <td height="50">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="50%" class="copy">
                        <div align="left">Copyright © 2022. Mission Jan Jagriti.</div>
                    </td>
                    <td width="50%">
                        <div align="right" class="copy">Developed and Design by Raghav & Tanishka</div>
                    </td>
                </tr>
    </tr>

</body>

</html>